.heading {
    color: var(--colours-text-light-secondary, #83858B);
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 60px;
}

.table {
    margin-top:40px;
    background-color: #FFF;
    width: 1312px;
}
.addcourse {
    
    float: right;
    margin-right: 65px;
    margin-top: 40px;
}
.search {
    margin-left: 985px;
    color: var(--colours-text-light-secondary, #83858B);
    font-family: Nunito Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}
.searchicon {
    position: relative;
    right:224px;
}

.p1 {
    color: var(--colours-text-light-secondary, #83858B);
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

.left-sidebar {
    border-right: 1px solid var(--colours-gray-300, #D1D5DB);
    background: var(--colours-background-panel, #FFF);
    float: left;
    display: flex;
    width: 96px;
    height: 100vh;
    padding: 10px 12px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    flex-shrink: 0;
}

.right-sidebar {
    padding-top: 50px;
    padding-left: 150px;
    background-color: #d1d5db6f;
    height: 100vh;
}

.heading2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.submit {
   background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.secondcontainer {
    width: 800px;
    margin-left: 100px;
}